<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div class="cap-links">
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}">Log in</a>
        {% endif %}
        <a href="{{ url_for('register') }}">Register</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('feedback') }}">Feedbacks</a>
        <a href="{{ url_for('order') }}">Orders</a>
        <a href="{{ url_for('ad') }}">Ads</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <p>This is home page</p>
</body>
</html>