<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="cap-links">
        <a href="{{ url_for('index') }}">Home page</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form class="login-form" action="{{ url_for('login') }}" method="post">
        {{ loginform.hidden_tag() }}
        {{ loginform.loginfield(placeholder_="Login", class_="loginform-loginfield") }}<br>
        {{ loginform.passwordfield(placeholder_="Password",class_="loginform-passwordfield") }}<br>
        {{ loginform.submitfield(class_="loginform-submitfield") }}
    </form>
</body>
</html>