<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <div class="cap-links">
        <a href="{{ url_for('index') }}">Home page</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('profile') }}">Profile</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    {% if session['role'] == 'consumer' %}
        <div class="adding-order-div">
            <p>Add an order</p>
            <form class="adding-order-form" action="{{ url_for('order') }}" method="post">
                {{ adding_order_form.hidden_tag() }}
                {{ adding_order_form.description_of_order(placeholder_="Description of order") }}<br>
                {{ adding_order_form.price_of_order(placeholder_="Price of order") }}<br>
                {{ adding_order_form.submitfield() }}
            </form>
        </div>
        {% if orders_len == 0 %}
        <p>There is no orders awaiting for execution</p>
        {% elif orders_len != 0 %}
        <div class="orders-table-consumer">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Description of order</th>
                        <th scope="col">Price of order</th>
                        <th scope="col">Login of user</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.Order.description_of_order }}</td>
                        <td>{{ order.Order.price_of_order }}</td>
                        <td>{{ order.User.login_of_user }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% elif session['role'] == 'executor' %}
        {% if orders_len == 0 %}
        <p>There is no orders awaiting for execution</p>
        {% elif orders_len != 0 %}
        <div class="orders-table-executor">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Description of order</th>
                        <th scope="col">Price of order</th>
                        <th scope="col">Login of user</th>
                        <th scope="col">Execute an order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.Order.description_of_order }}</td>
                        <td>{{ order.Order.price_of_order }}</td>
                        <td>{{ order.User.login_of_user }}</td>
                        <td>
                            <form class="executing-order-form" action="{{ url_for('order') }}" method="post">
                                {{ executing_order_form.id_of_order_form(value=order.Order.id_of_order) }}
                                {{ executing_order_form.submit_execute_field() }}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% elif session['role'] == 'moderator' %}
        {% if orders_len == 0 %}
        <p>There is no orders awaiting for execution</p>
        {% elif orders_len != 0 %}
        <div class="orders-table-moderator">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Description of order</th>
                        <th scope="col">Price of order</th>
                        <th scope="col">Login of user</th>
                        <th scope="col">Delete an order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.Order.description_of_order }}</td>
                        <td>{{ order.Order.price_of_order }}</td>
                        <td>{{ order.User.login_of_user }}</td>
                        <td>
                            <form class="deleting-order-form" action="{{ url_for('order') }}" method="post">
                                {{ deleting_order_form.id_of_order_form(value=order.Order.id_of_order) }}
                                {{ deleting_order_form.submit_delete_field() }}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% endif %}
</body>
</html>