<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div class="cap-links">
        <a href="{{ url_for('index') }}">Home page</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <p>Login: {{ user.login_of_user }}</p>
    <p>FIO: {{ user.fio_of_user }}</p>
    <p>Phone number: {{ user.phone_of_user }}</p>
    {% if session['role'] == 'consumer' %}
    <div class="consumer-profile-orders-table">
        {% if orders_len == 0 %}
            <p>There is no orders awaiting for execution</p>
        {% elif orders_len != 0 %}
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    <br>
    <div class="consumer-profile-ads-table">
        {% if ads_len == 0 %}
            <p>There is no orders awaiting for execution</p>
        {% elif ads_len != 0 %}
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    {% elif session['role'] == 'executor' %}
    <div class="executor-profile-orders-table">
        {% if ads_len == 0 %}
            <p>There is no orders awaiting for execution</p>
        {% elif ads_len != 0 %}
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    <br>
    <div class="executor-profile-orders-table">
        {% if orders_len == 0 %}
            <p>There is no orders awaiting for execution</p>
        {% elif orders_len != 0 %}
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>